.cart-heading{
    text-align: center;
    padding: 20px 0;
}

.cart-list-heading{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 150px 150px 150px;
    font-weight: 600;
}

.cart-list .cart-item{
    display: grid;
    grid-template-columns: 1fr 150px 150px 150px;
}

.cart-list .item-img-and-details{
    display: flex;
}