* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #2ab873;
    --background-color: #fff;
    --text-color: #000;
    --secondaryTextColor: #4d4d4d;
    --tertiaryTextColor: #bdbdbd;
    --borderColor: #3331;
    --productBoxBg: #3331;
    --slightTransparentBg: rgba(69, 69, 69, 0.067);
    --headerShadowColor: #33333325;
}

[theme='dark']:root {
    --background-color: #1d1d1d;
    --text-color: #fff;
    --secondaryTextColor: #e2e2e2;
    --tertiaryTextColor: #696969;
    --borderColor: #c6c6c632;
    --productBoxBg: #c6c6c632;
    --slightTransparentBg: #c6c6c613;
    --headerShadowColor: #0000003d;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    vertical-align: middle;
}

button,
input {
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1300px;
}

.u_sel_none{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.t-center{
    text-align: center;
}

.secondary-color{
    color: var(--secondaryTextColor)
}

.tertiary-color{
    color: var(--tertiaryTextColor);
}

/* ---------------- loading spinner ---------------- */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--text-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------------- responsive ---------------- */
@media only screen and (max-width: 1200px){
    .container{
        width: 85%;
    }
}

@media only screen and (max-width: 992px){
    .container{
        width: 88%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}