.footer-container{
    border-top: 1px solid var(--borderColor);
}

.footer-container .footer-main{
    padding: 10px 0;
}

.footer-container .footer-bottom{
    text-align: center;
    font-size: 15px;
    padding: 5px;
    background: var(--productBoxBg);
    color: var(--secondaryTextColor);
}