.footer-container{
    width: 100%;
    background: var(--productBoxBg);
    border-top: 1px solid var(--borderColor);
}

.footer-container .footer-main{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer-main .footer-column h3{
    color: var(--secondaryTextColor);
}

.footer-main .footer-column ul{
    list-style: none;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 7px;
}

.footer-main .footer-column ul li{
    color: var(--tertiaryTextColor);
    transition: .2s ease-in-out;
}

.footer-main .footer-column ul li:hover{
    color: var(--secondaryTextColor);
}

.footer-container .footer-bottom{
    text-align: center;
    font-size: 15px;
    padding: 5px;
    background: var(--slightTransparentBg);
    color: var(--tertiaryTextColor);
}

/* ---------------- responsive ---------------- */
@media only screen and (max-width: 768px){
    .footer-container .footer-main{
        flex-wrap: wrap;
        gap: 25px;
        padding-top: 10px;
    }

    .footer-container .footer-main .footer-column{
        width: max-content;
    }
}