.home-container{
    margin-bottom: 25px;
}

.hero-area{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.offer-slider-box {
    border-radius: 10px;
    width: 75%;
    overflow: hidden;
    position: relative;
}

.offer-slider-box .offer-slide-track{
    display: flex;
    transition: transform 0.3s linear;
    will-change: transform;
}

.custom-order-box{
    width: 25%;
    background: var(--productBoxBg);
    color: var(--text-color);
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 60px;
    background: url('../assets/custom-order.jpg') no-repeat center center;
    background-size: cover;
}

.custom-order-box .t-center{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.746);
}

.custom-order-box .custom-order-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background: var(--primaryColor);
}

.offer-slider-box .offer-box {
    flex-shrink: 0;
    color: white;
    background: var(--primaryColor);
    padding: 20px;
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.offer-box.custom-order-slide{
    background: rgb(231, 68, 68);
}

.offer-box.discount-and-offer{
    background: rgb(14, 193, 154);
}

.offer-box.certified-products{
    background: rgb(13, 142, 227);
}

.offer-slider-box .offer-box svg {
    height: 100%;
}

.offer-slider-box .offer-box .box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
}

.offer-box .shop-now {
    padding: 10px 20px;
    border-radius: 100px;
    color: black;
    background: white;
    border: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.offer-slider-box .slider-position-display{
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.offer-slider-box .slider-position-display span{
    display: block;
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.offer-slider-box .slider-position-display span:first-child{
    opacity: 0;
    visibility: hidden;
}

.offer-slider-box .slider-position-display span.active{
    width: 15px;
    border-radius: 100px;
}

.category-bar {
    padding: 10px 0;
}

.category-bar .content {
    text-align: center;
    padding: 10px 0 10px 0;
}

.category-bar .category-list {
    display: flex;
    align-items: center;
    gap: 7px;
    overflow: hidden;
    overflow-x: auto;
}

.category-bar .category-list::-webkit-scrollbar {
    display: none;
}

.category-bar .category-list .category {
    padding: 0 10px;
    min-width: max-content;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--secondaryTextColor);
    border: 1px solid var(--borderColor);
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-in-out;
}

.category-bar .category-list .category.active{
    background: var(--primaryColor);
    border-color: var(--primaryColor);
    color: white;
}

.category-bar .category-list .category *{
    pointer-events: none;
}

.category-sort-filter-bar .sort-filter-container svg{
    fill: var(--secondaryTextColor);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

.category-sort-filter-bar .sort-filter-container svg path,
.category-sort-filter-bar .sort-filter-container svg circle{
    stroke: var(--secondaryTextColor);
}

.category-sort-filter-bar .opts .title{
    font-size: 15px;
    font-weight: 600;
    color: var(--tertiaryTextColor);
}

.category-sort-filter-bar .filter-option{
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 3px;
    letter-spacing: .2px;
    background: var(--productBoxBg);
    -webkit-tap-highlight-color: transparent;
}

.category-sort-filter-bar .filter-option .title{
    color: var(--secondaryTextColor);
}

.category-sort-filter-bar .opts .grid-and-list-view{
    border-radius: 3px;
    overflow: hidden;
    background: var(--productBoxBg);
}

.category-sort-filter-bar .opts .grid-and-list-view .icon{
    padding: 4px 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .2s ease-in-out;
}

.category-sort-filter-bar .opts .grid-and-list-view .icon.active{
    background: var(--primaryColor);
}

.category-sort-filter-bar .opts .grid-and-list-view .icon.active svg{
    fill: white;
}

.category-sort-filter-bar .opts .grid-and-list-view .icon.active svg path,
.category-sort-filter-bar .opts .grid-and-list-view .icon.active svg circle{
    stroke: white;
}

.category-sort-filter-bar .view-option{
    display: none;
}

/* ---------------- responsive ---------------- */

@media only screen and (max-width: 768px){
    .hero-area{
        flex-direction: column;
        margin-top: 5px;
    }
    .offer-slider-box .offer-box{
        height: 200px;
        padding: 10px 20px;
    }
    .offer-slider-box .offer-box .box-content h1{
        font-size: 23px;
    }
    .offer-box .shop-now{
        margin-top: 0;
    }
    .offer-slider-box .offer-box svg{
        width: 150px;
    }
    .offer-slider-box, .custom-order-box {
        width: 100%;
    }
    .custom-order-box{
        height: max-content;
    }
    .category-sort-filter-bar{
        flex-direction: column;
    }
    .category-sort-filter-bar .category-list,
    .category-sort-filter-bar .sort-filter-container{
        width: 100%;
    }
    .category-sort-filter-bar .sort-filter-container{
        justify-content: space-between;
    }
    .category-sort-filter-bar .view-option{
        display: flex;
    }
}

@media only screen and (max-width: 430px){
    .offer-slider-box .offer-box{
        height: auto;
    }
    .offer-slider-box .offer-box svg{
        display: none;
    }
}