.profile-container{
    min-height: calc(100vh - 64px);
    display: grid;
    grid-template-rows: auto 1fr;
}

.profile-container .profile-page-top{
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--borderColor);
}

.profile-container .profile-page-top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-page-top .top-inner{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.profile-container .profile-circle-progress, .profile-container .profile-circle-progress svg{
    width: 70px;
    height: 70px;
}

.profile-container .profile-circle-progress .progress-text{
    fill: var(--secondaryTextColor);
}

.profile-container .profile-page-main{
    padding-top: 10px;
    min-height: 70vh;
    position: relative;
    overflow-x: hidden;
    background: var(--slightTransparentBg);
}

.profile-page-menu-list{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    max-width: max-content;
    margin-bottom: 10px;
    border-radius: 4px;
}

.profile-page-menu-list button{
    padding: 5px 10px;
    font-size: 15px;
    letter-spacing: .2px;
    border: none;
    position: relative;
    color: var(--secondaryTextColor);
    font-weight: 600;
    background: var(--background-color);
    transition: .3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.profile-page-menu-list button::after{
    content: "";
    width: 1px;
    height: 15px;
    background: var(--borderColor);
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.profile-page-menu-list button:first-child::after{
    display: none;
}

.profile-page-menu-list button.active{
    color: white;
    background: var(--primaryColor);
}

.profile-page-menu-list::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.profile-container small{
    color: var(--tertiaryTextColor);
}

.profile-container .log-out-btn{
    width: 120px;
    height: 40px;
    background: red;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .2px;
    margin: auto;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* ---------------- profile sub tabs ---------------- */
.profile-container .tabs-container{
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 80px;
}

.tabs-container .tabs-slider-track{
    height: 100%;
    display: flex;
    min-height: 200px;
    transition: .3s ease-in-out;
}

.tabs-container .tabs-slider-track::-webkit-scrollbar{
    display: none;
    height: 0;
}

.tabs-container .tab-container{
    min-width: 100%;
    min-height: 100%;
    background: var(--background-color);
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.tabs-container .tab-container .tab-heading{
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--borderColor);
}

.tabs-container .tab-container .addr-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tabs-container .tab-container .addr-form input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 5px;
    background: var(--slightTransparentBg);
}

.tabs-container .tab-container .addr-form input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 3px;
    cursor: pointer;
    accent-color: var(--primaryColor);
}

.tabs-container .tab-container .addr-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.tabs-container .tab-container .addr-row{
    background: var(--slightTransparentBg);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--tertiaryTextColor);
}

.tabs-container .tab-container .addr-row button{
    background: none;
    border: none;
}

.tabs-container .tab-container .addr-row button *{
    pointer-events: none;
}

.tabs-container .tab-container .addr-row button path{
    stroke: var(--secondaryTextColor);
}

.tabs-container .tab-container .code-and-number{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: inherit;
}

.tabs-container .addr-submit-btn{
    text-align: right;
}

.tabs-container .addr-submit-btn button{
    font-weight: 600;
    letter-spacing: .2px;
    background: var(--primaryColor);
}

.tabs-container .addr-submit-btn button::after,
.tabs-container .addr-submit-btn button::before{
    background-color: var(--background-color);
}

.tabs-container .nothing-yet{
    position: absolute;
    left: 50%;
    top: calc(50% + 10px);
    transform: translate(-50%, -50%);
}

/* ---------------- profile info tab ---------------- */
.information-tab h3{
    margin-bottom: 0 !important;
}

.information-tab .edit-info{
    font-size: 15px;
    letter-spacing: .2px;
    font-weight: 600;
    cursor: pointer;
    background: var(--slightTransparentBg);
    padding: 4px 8px;
    border-radius: 3px;
    transition: 200ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.information-tab .edit-info:hover{
    background: var(--productBoxBg);
}

.user-info-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-info-container .info-row{
    display: flex;
    flex-direction: column;
    gap: 3px
}

.user-info-container .info-row .info-title{
    font-weight: 600;
    color: var(--secondaryTextColor);
}

.user-info-container .info-row input{
    font-size: 16px;
    border: 1px solid var(--slightTransparentBg);
    color: var(--secondaryTextColor);
    background: var(--background-color);
    padding-left: 10px;
}

.user-info-container .info-row input, .user-info-container .country-flag-and-code{
    height: 35px;
    border-radius: 5px;
}

.user-info-container .info-row input,
.user-info-container .phone-no .inp-and-code,
.user-info-container .dob-inp{
    width: 350px;
    max-width: 100%;
}

.user-info-container .dob-inp{
    position: relative;
    border: 1px solid var(--slightTransparentBg);
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}

.user-info-container .dob-inp input{
    background: none;
    opacity: 0;
    cursor: pointer;
    min-width: 100%;
}

.user-info-container .dob-inp .calender-icon,
.user-info-container .dob-inp .date-displayer{
    position: absolute;
    right: 10px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
}

.user-info-container .dob-inp .date-displayer{
    pointer-events: none;
    right: unset;
    left: 10px;
    font-size: 16px;
}

.user-info-container .dob-inp .calender-icon svg{
    fill: var(--tertiaryTextColor)
}

.user-info-container .gender .gndr-sel-opt{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.user-info-container .gender .gndr-sel-opt span{
    letter-spacing: .2px;
    color: var(--secondaryTextColor);
}

.user-info-container .gender .gender-options{
    gap: 10px 15px;
    flex-wrap: wrap;
}

.user-info-container .gender .gender-options input{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--tertiaryTextColor);
    border-radius: 50%;
    outline: none;
    background-color: var(--background-color);
    transition: 150ms ease-in-out;
}

.user-info-container .gender .gndr-sel-opt * {
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.user-info-container .gender .gender-options input[type="radio"]:checked {
    border: 4px solid var(--primaryColor);
    background-color: var(--slightTransparentBg);
}

.user-info-container .country-flag-and-code{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    pointer-events: none;
    border: 1px solid var(--slightTransparentBg);
}

.user-info-container .info-row.phone-no .flag{
    width: 23px;
    border-radius: 3px;
    overflow: hidden;
}

.user-info-container .info-row.phone-no span:last-child{
    font-size: 15px;
}

.user-info-container .info-row.phone-no .flag svg{
    vertical-align: middle;
}

.user-info-container .update-and-save{
    width: max-content;
    padding: 0 15px;
    max-height: 40px;
    background: var(--primaryColor);
    font-weight: 600;
    letter-spacing: .2px;
    margin-left: auto;
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent;
}

.user-info-container .update-and-save::after,
.user-info-container .update-and-save::before{
    background-color: var(--background-color);
}

/* ---------------- responsive ---------------- */

@media only screen and (max-width: 500px){
    .hide-email-title{
        display: none;
    }
}